<style>
  #dinam_block3 {
    display: block
  }
</style>
<script>
    $("#posetiteli").addClass("active");
    $("#e-3-1").addClass("current");
</script>
<div id="news">
  <a id="gavana"></a>
  <div class="b-contact clearfix">
    <p>
      Tickets are available only at ticket desk inside the Museum.
    </p>
    <p>
      The ticket desk is open from 10.00 until half an hour before the museum closes.
    </p>

    <h3>Odessa Regional History Museum:</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1730.6051974323764!2d30.736996208585595!3d46.48505520035708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x320a724d00e05291!2z0J7QtNC10YHRgdC60LjQuSDQuNGB0YLQvtGA0LjQutC-LdC60YDQsNC10LLQtdC00YfQtdGB0LrQuNC5INCc0YPQt9C10Lk!5e0!3m2!1sru!2sua!4v1455515572390"
            width="400" height="300" frameborder="0" class="map" allowfullscreen></iframe>
    <p>
      4, Havanna str.<br>
      Odessa, Ukraine, 65026<br>
      +38(048)726-26-08, 725-52-02<br>
      Fax: +38 (048) 726-14-24<br>
      E-mail: orhmuseum@gmail.com<br>
      Open 10.00-17.00. Ticket desk closes at 17.00.<br>
      Closed: Friday<br>
      <br>
      <b>Special option in summer</b> (01 June - 31 August): open daily 10.00-20.30, ticket desk closes at 20.00.
      You must consider that only the main exhibition “Old Odessa” and the courtyard of the museum are available for the
      visit until 20.30. Closing time of other exhibitions you must check out at the ticket desk, it starts from 17.30.
      <br>
      <br>
      Follow us on:<br>
      <a href="//vk.com/club26889806">
        <%= cl_image_tag 'logo_social/VK.png' %>
      </a>
      <a href="//facebook.com/Odessa.Regional.History.Museum">
        <%= cl_image_tag 'logo_social/FB.png' %>
      </a>
      <a href="//twitter.com/OdHistoryMuseum">
        <%= cl_image_tag 'logo_social/Twitter.png' %>
      </a>
      <a href="//www.tripadvisor.ru/Attraction_Review-g295368-d6397670-Reviews-Odessa_Local_Lore_and_History_Museum-Odessa_Odessa_Oblast.html">
        <%= cl_image_tag 'logo_social/tripadvisor-logo-classic.png' %>
      </a><br>
    </p>
  </div>
  <a id="lanzh"></a>
  <div class="b-contact clearfix">
    <h3>Museum “Stepova Ukraine”, Exhibition Hall:</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1730.6051974323764!2d30.736996208585595!3d46.48505520035708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x417d50afef96ed28!2z0JzRg9C30LXQuSDCq9Ch0YLQtdC_0L3QsNGPINCj0LrRgNCw0LjQvdCwwrssINCS0YvRgdGC0LDQstC-0YfQvdGL0Lkg0LfQsNC7!5e0!3m2!1sru!2sua!4v1455515591276"
            width="400" height="300" frameborder="0" class="map" allowfullscreen></iframe>
    <p>
      24a, Lanzheronovskaya str.<br>
      +38(048)726-26-08<br>
      Open 10.00-17.30. Ticket desk closes at 17.00.<br>
      Closed: Thursday, Friday
    </p>
  </div>
  <a id="411"></a>
  <div class="b-contact clearfix">
    <h3>Memorial of Heroic Defense of Odessa Museum:</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2452.4942693849125!2d30.718847139509993!3d46.372726600265224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x941ecc4b7a0be55f!2z0JzRg9C30LXQuSDQs9C10YDQvtC40YfQtdGB0LrQvtC5INC-0LHQvtGA0L7QvdGLINCe0LTQtdGB0YHRiw!5e0!3m2!1sru!2sua!4v1455515520666"
            width="400" height="300" frameborder="0" class="map" allowfullscreen></iframe>
    <p>
      +38(048) 746-72-29<br>
      Open 10.00-17.30. Ticket desk closes at 17.00.<br>
      Closed: Monday, Friday<br>
      E-mail: memorial.batareya411@gmail.com<br>
      Follow us on:<br>
      <a href="//facebook.com/memorialgeroicheska">
        <%= cl_image_tag 'logo_social/FB.png' %>
      </a>
      <a href="//www.tripadvisor.ru/Attraction_Review-g295368-d6490805-Reviews-Memorial_of_Heroic_Defense_of_Odessa_Museum-Odessa_Odessa_Oblast.html">
        <%= cl_image_tag 'logo_social/tripadvisor-logo-classic.png' %>
      </a>
    </p>
  </div>
</div>