<style>
  #dinam_block1 {
    display: block
  }
</style>
<script>
  $("#o_musee").addClass("active");
  $("#e-1-5").addClass("current");
</script>
<div id="news">
  <h4 class="title">Выставки онлайн</h4>
  <div class="online">
    <a href="#"><%= cl_image_tag 'online/1/1.jpg' %></a>
    <a href="#"><%= cl_image_tag 'online/2/2.jpg' %></a>
    <a href="#"><%= cl_image_tag 'online/3/3.jpg' %></a>
    <a href="#"><%= cl_image_tag 'online/4/4.jpg' %></a>
    <a href="#"><%= cl_image_tag 'online/5/5.jpg' %></a>
  </div>
</div>
