<style>
  .content a {
    color: black !important;
  }
  .content p {
    font-size: 14px;
  }
</style>
<div id="news">
  <h4 class="title">Тендеры</h4>
  <div class="content">
    <h5 style="color: #1383cb;
        margin-top: 20px;
        border-bottom: 1px solid #1383cb;
        padding-bottom: 5px;
        font-weight: bold">2017 год</h5>

    <ul style="padding-top: 10px; padding-left: 15px;">
      <li><p>
        <%= link_to 'Повідомлення про внесення змін до догору теплопостачання продовження дії договору 20_ -2', root_url+'tenders/111.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Звіт про виконання договору послуг охорони за 2016 рік', root_url+'tenders/112.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Повідомлення про внесення змін до договору теплопостач. зміна тарифу у 20_ угоді', root_url+'tenders/113.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Повідомлення про внесення змін до догору охорони продовження дії договору 2016 р - 2', root_url+'tenders/114.pdf', {target: '_blank'} %>
      </p>
    </ul>

    <h5 style="color: #1383cb;
        border-bottom: 1px solid #1383cb;
        margin-top: 35px;
        padding-bottom: 5px;
        font-weight: bold">2016 год</h5>

    <ul style="padding-top: 10px; padding-left: 15px;">
      <li><p>
        <%= link_to 'Річний план закупівель КУ ОІКМ на 2016 рік', root_url+'tenders/88.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'додаток до річного плану закупівель КУ ОІКМ на 2016 рік', root_url+'tenders/89.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Інформація охорона 2016', root_url+'tenders/90.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'інформація теплопостачання 2016', root_url+'tenders/91.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'обгрунтування охорона 2016', root_url+'tenders/92.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'обгрунтування теплопостачання 2016', root_url+'tenders/93.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Акцепт послуг охорони', root_url+'tenders/96.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Акцепт послуг централізованого опалення', root_url+'tenders/97.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'інформація про результати застос. перег. процед. закуп. послуг теплопостачання', root_url+'tenders/100.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'інформація про результати застосув. перегов. процед закупів. послуг охорони', root_url+'tenders/101.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'ПДФ Звіт №10 про результати проведенн перег. проц закуп послуг теплопостачання 2016 р', root_url+'tenders/102.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'ПДФ звіт №11 про результ провед перег проц закупівлі послуг охорони 2016 р', root_url+'tenders/103.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Зміни №1 до Додатку до річного плану закупівель КУ ОІКМ на 2016 рік', root_url+'tenders/105.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Зміни№2 до Додатку до річного плану', root_url+'tenders/106.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Зміни №3 до Додатку до річного плану закупівель КУ ОІКМ на 2016 рік', root_url+'tenders/107.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Повідомлленя про внесення змін до договору послуг теплопостачання 2016 р. у звязку зі зміною тарифів', root_url+'tenders/108.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Повідомлення про внесення змін до договору послуг охорони 2016 р. продовження дії договору', root_url+'tenders/109.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Повідомлення про внесення змін до договору послуг теплопостач. 2016 р. продовження дії договору', root_url+'tenders/110.pdf', {target: '_blank'} %>
      </p>
    </ul>

    <h5 style="color: #1383cb;
        margin-top: 20px;
        border-bottom: 1px solid #1383cb;
        padding-bottom: 5px;
        font-weight: bold">2015 год</h5>

    <ul style="padding-top: 10px; padding-left: 15px;">
      <li><p>
        <%= link_to 'Річний план закупівель на 2015 рік Комунальної установи Одеський історико-краєзнавчий музей', root_url+'tenders/58.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Додаток до РІЧНОГО плану закупівель 2015 р. КУ ОІКМ', root_url+'tenders/59.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'ІНФОРМАЦІЯ- оголош про застосув перегов. процед закупівлі послуг ОХОРОНИ', root_url+'tenders/61.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Обгрунтування послуг ОХОРОНИ', root_url+'tenders/62.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Обгрунтування послуг теплопостачання', root_url+'tenders/63.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'ПОВІДОМЛЕННЯ про акцепт пропозиції послуг з теплопостачння', root_url+'tenders/64.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'ПОВІДОМЛЕННЯ про акцепт пропозиції послуг ОХОРОНИ', root_url+'tenders/65.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Повідомлення про внесення змін №2 до договору послуг охорони', root_url+'tenders/67.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Повідомлення про внесення змін№5 до договору теплопостачання', root_url+'tenders/69.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Звіт про виконання договору послуг охорони', root_url+'tenders/70.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'ІНФОРМАЦІЯ- про результати проведення закупівлі послуг охорони', root_url+'tenders/71.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'ІНФОРМАЦІЯ- про результати проведення закупівлі послугз теплопостачання', root_url+'tenders/72.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'ЗВІТ про результати проведення переговорної процедури закупівлі послуг охорони', root_url+'tenders/73.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'ЗВІТ про результати проведення переговорної процедури закупівлі послуг теплопостачання', root_url+'tenders/74.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Повідомлення про внесення змін №1 до договору про закупівлю послуг з теплопостачання', root_url+'tenders/75.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'зміни №1 до Додатку до РІЧНОГО плану закупівель КУ ОІКМ на 2015 р. від 26.03.1015', root_url+'tenders/76.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Звіт про виконання договору послуг теплопостачання', root_url+'tenders/77.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Зміни №2 до Додатку до РІЧНОГО плану закупівель 2015 від 05.05.2015', root_url+'tenders/78.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Зміни №3 до Додатку до РІЧНОГО плану закупівель КУ ОІКМ на 2015 р. від 01.07.2015', root_url+'tenders/79.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Зміни №4 до додатку до річного плану закупівель', root_url+'tenders/01.jpg', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Змни №5 до додатку до річного плану закупівель КУ ОІКМ ', root_url+'tenders/80.jpg', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Зміни №6 до додатку до річного плану закупівель КУ ОІКМ на 2015 р. від 17.11.15', root_url+'tenders/81.jpg', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Зміни №7 до додатку до річного плану закупівель КУ ОІКМ на 2015 рік', root_url+'tenders/82.jpg', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Повідомлення про внесення змін №2 до договору про закупівлю послуг з теплопостачання 2015', root_url+'tenders/84.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Повідомлення про внесення змін №3 до договору про закупівлю послуг теплопостачання 2015', root_url+'tenders/85.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Повідомлення про внесення змін №1 до договору послуг охорони 2015 р.', root_url+'tenders/86.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Повідомлення про внесення змін №2 до договору послуг охорони 2015 р.', root_url+'tenders/87.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Повідомлення №4 до договору послуг теплопостачання 2015 р', root_url+'tenders/94.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Зміни_№8 до Додатку до Річного плану закупівель КУОІКМ на 2015 р', root_url+'tenders/98.pdf', {target: '_blank'} %>
      </p>
      <!-- TODO: link -->
      <li><p>
        <%= link_to 'Звіт про виконання договору послуг охорони 2015 р.', root_url+'tenders/98.pdf', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to  'Звіт про виконання договору псолуг теплопостачання 2015', root_url+'tenders/104.pdf', {target: '_blank'} %>
      </p>
    </ul>

    <h5 style="color: #1383cb;
        margin-top: 20px;
        border-bottom: 1px solid #1383cb;
        padding-bottom: 5px;
        font-weight: bold">2014 год</h5>

    <ul style="padding-top: 10px; padding-left: 15px;">
      <li><p>
        <%= link_to 'Повідомлення про внесення змін№4 до договору теплопостачання', root_url+'tenders/68.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Повідомлення про внесення змін №1 до договору послуг охорони', root_url+'tenders/66.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Повідомлення№3 про внесення змін до договору теплопостачання', root_url+'tenders/57.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Зміни №3 до Додатку до РІЧНОГО плану закупівель музею 2014', root_url+'tenders/56.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Зміни до РІЧНОГО ПЛАНУ ЗАКУПІВЕЛЬ на 2014 рік КУ ОІКМ', root_url+'tenders/55.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Повідомлення про внесення змін №2 до договору теплопостачання', root_url+'tenders/54.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Проект Річного плану державних закупівель КУ ОІКМ на 2015 р.', root_url+'tenders/53.jpg', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Повідомлення про внесення змін до договору теплопостачання', root_url+'tenders/52.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Зміни №2 до Додатоку до РІЧНОГО плану закупівель 2014 від 22.05.1014', root_url+'tenders/51.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Зміни 1 до Додатку до РІЧНОГО плану КУ ОІКМ закупівель 2014', root_url+'tenders/50.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Звіт про результати проведення процедури закупівлі послуг теплопостачання', root_url+'tenders/49.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Звіт про результати проведення процедури закупівлі послуг охорони', root_url+'tenders/48.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'ІНФОРМАЦІЯ- про результати проведення закупівлі послуг охорони', root_url+'tenders/47.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'ІНФОРМАЦІЯ- про результати проведення закупівлі послуг з теплопостачання', root_url+'tenders/46.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'ПОВІДОМЛЕННЯ про акцепт пропозиції послуг охорони', root_url+'tenders/45.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'ПОВІДОМЛЕННЯ про акцепт пропозиції послуг з теплопостачння', root_url+'tenders/44.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Обгрунтування послуг теплопостачання', root_url+'tenders/43.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Обгрунтування послуг охорони', root_url+'tenders/42.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'ІНФОРМАЦІЯ- оголошення про застосування роцедури закупівлі в одного учасника послуг теплопостачання', root_url+'tenders/41.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'ІНФОРМАЦІЯ- оголошення про застосування процедури закупівлі в одного учасника послуг охорони', root_url+'tenders/40.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Додаток до РІЧНОГО плану закупівель КУ ОІКМ на 2014 р.', root_url+'tenders/39.doc', {target: '_blank'} %>
      </p>
      <li><p>
        <%= link_to 'Р І Ч Н И Й П Л А Н З А К У П І В Е Л Ь на 2014 рік', root_url+'tenders/38.doc', {target: '_blank'} %>
      </p>
    </ul>

  </div>
</div>
