<style>
  #dinam_block3 {
    display: block
  }
</style>
<script>
    $("#posetiteli").addClass("active");
    $("#e-3-3").addClass("current");
</script>
<div id="news">
  <h4 class="title">Творча майстерня «Арт-терапія предків»</h4>
  <div class="content">
    <p>Кожні вихідні, у Виставковій залі Одеського історико-краєзнавчого музею, працює творча майстерня «Арт-терапія
      предків». Під керівництвом досвідченого майстра, арт-терапевта Віолети Лашкул, можна познайомитися з однією з
      технік декоративно-ужиткового мистецтва, на вибір:
    </p>
    <div class="images" style="
    box-shadow: 0 7px 10px -10px #333;
        padding: 0 5px 30px;
        margin: 0 -5px !important;">

      <a class="fancybox wth-title" style="margin-top: 0" rel="group" title="Петриківський розпис" href="https://res.cloudinary.com/orhmuseum/image/upload/c_scale,h_1080/workshop/петриковская_роспись.jpg">
        <div>
          <h5>Петриківський розпис</h5>
          <%= cl_image_tag('workshop/петриковская_роспись.jpg', width: 210, height: 140, :crop => :fill) %>
        </div>
      </a>

      <a class="fancybox wth-title" rel="group" title="Пісочна анімація" href="https://res.cloudinary.com/orhmuseum/image/upload/c_scale,h_1080/workshop/песочная_анимация.jpg">
        <div>
          <h5>Пісочна анімація</h5>
          <%= cl_image_tag('workshop/песочная_анимация.jpg', width: 210, height: 140, :crop => :fill) %>
        </div>
      </a>

      <a class="fancybox wth-title" rel="group" title="Живопис шерстю" href="https://res.cloudinary.com/orhmuseum/image/upload/c_scale,h_1080/workshop/живопись_шестью.jpg">
        <div>
          <h5>Живопис шерстю</h5>
          <%= cl_image_tag('workshop/живопись_шестью.jpg', width: 210, height: 140, :crop => :fill) %>
        </div>
      </a>

      <a class="fancybox wth-title" rel="group" title="Паперопластика" href="https://res.cloudinary.com/orhmuseum/image/upload/c_scale,h_1080/workshop/бумагопластика.jpg">
        <div>

          <h5>Паперопластика</h5>

          <%= cl_image_tag('workshop/бумагопластика.jpg', width: 210, height: 140, :crop => :fill) %>
        </div>
      </a>


      <a class="fancybox wth-title" rel="group" title="Ебру" href="https://res.cloudinary.com/orhmuseum/image/upload/c_scale,h_1080/workshop/эбру.jpg">
        <div>
          <h5>Ебру</h5>
          <%= cl_image_tag('workshop/эбру.jpg', width: 210, height: 140, :crop => :fill) %>
        </div>
      </a>

      <a class="fancybox wth-title" rel="group" title="Солоне тісто" href="https://res.cloudinary.com/orhmuseum/image/upload/c_scale,h_1080/workshop/солёное_тесто.jpg">

        <div>
          <h5>Солоне тісто</h5>
          <%= cl_image_tag('workshop/солёное_тесто.jpg', width: 210, height: 140, :crop => :fill) %>
        </div>
      </a>

    </div>
    <div class="images" style="padding: 10px 0 0">
      <a class="fancybox" rel="group" href="https://res.cloudinary.com/orhmuseum/image/upload/c_scale,h_1080/workshop/общ1.jpg">
        <%= cl_image_tag('workshop/общ1.jpg', width: 210, height: 140, :crop => :fill) %>
      </a>
      <a class="fancybox" rel="group" href="https://res.cloudinary.com/orhmuseum/image/upload/c_scale,h_1080/workshop/общ2.jpg">
        <%= cl_image_tag('workshop/общ2.jpg', width: 210, height: 140, :crop => :fill) %>
      </a>
      <a class="fancybox" rel="group" href="https://res.cloudinary.com/orhmuseum/image/upload/c_scale,h_1080/workshop/общ3.jpg">
        <%= cl_image_tag('workshop/общ3.jpg', width: 210, height: 140, :crop => :fill) %>
      </a>
    </div>
    <br>
    <p>
      Можливі групові та індивідуальні заняття, для дітей та дорослих.<br>
      Заняття триває одну годину.<br>
      Субота та Неділя з 10:00 до 16.00.<br>
      Попередній запис обов'язковий. Телефони: 722-48- 67, 067 48201 80.
    </p>
    <p>
      А для более подробного знакомства с темой историко-культурных традиций Украинского Причерноморья, приглашаем так
      же посетить экспозицию музея «Степова Україна» (отдел Одесского историко-краеведческого музея).А для більш
      докладного знайомства із темою історико-культурних традицій Українського Причорномор'я, запрошуємо також відвідати
      експозицію музею «Степова Україна» (відділ Одеського історико-краєзнавчого музею).
    </p>
    <p>
      Музей "Степова Україна" і Виставкова зала знаходяться за адресою:<br>
      вул. Ланжеронівська, 24а<br>
      Графік роботи: щодня з 10.00 до 17.00, вихідні: Четвер, П'ятниця
    </p>
    <br>
    <h5 style="text-align: center; font-weight: bold;">Роботи майстра, арт-терапевта, Віолети Лашкул</h5>
    <div class="images no-img-padding">
      <a class="fancybox" rel="master" href="https://res.cloudinary.com/orhmuseum/image/upload/c_scale,h_1080/workshop/мастер2.jpg">
        <%= cl_image_tag('workshop/мастер2.jpg', width: 210, height: 140, :crop => :fill) %>
      </a>
      <a class="fancybox" rel="master" href="https://res.cloudinary.com/orhmuseum/image/upload/c_scale,h_1080/workshop/мастер3.jpg">
        <%= cl_image_tag('workshop/мастер3.jpg', width: 210, height: 140, :crop => :fill) %>
      </a>
      <a class="fancybox" rel="master" href="https://res.cloudinary.com/orhmuseum/image/upload/c_scale,h_1080/workshop/мастер1.jpg">
        <%= cl_image_tag('workshop/мастер1.jpg', width: 210, height: 140, :crop => :fill) %>
      </a>
    </div>
  </div>
</div>