<style>
  #dinam_block3 {
    display: block
  }
</style>
<script>
    $("#posetiteli").addClass("active");
    $("#e-3-3").addClass("current");
</script>
<div id="news">
  <h4 class="title">Творческая мастерская «Арт-терапия предков»</h4>
  <div class="content">
    <p>Каждые выходные, в Выставочном зале Одесского историко-краеведческого музея, работает творческая мастерская
      «Арт-терапия предков». Под руководством опытного мастера, арт-терапевта Виолетты Лашкул, можно познакомиться с
      одной из техник декоративно-прикладного искусства, на выбор:
    </p>
    <div class="images" style="
    box-shadow: 0 7px 10px -10px #333;
        padding: 0 5px 30px;
        margin: 0 -5px !important;">

      <a class="fancybox wth-title" style="margin-top: 0" rel="group" title="Петриковская роспись" href="https://res.cloudinary.com/orhmuseum/image/upload/c_scale,h_1080/workshop/петриковская_роспись.jpg">
        <div>
          <h5>Петриковская роспись</h5>
          <%= cl_image_tag('workshop/петриковская_роспись.jpg', width: 210, height: 140, :crop => :fill) %>
        </div>
      </a>

      <a class="fancybox wth-title" rel="group" title="Песочная анимация" href="https://res.cloudinary.com/orhmuseum/image/upload/c_scale,h_1080/workshop/песочная_анимация.jpg">
        <div>
          <h5>Песочная анимация</h5>
          <%= cl_image_tag('workshop/песочная_анимация.jpg', width: 210, height: 140, :crop => :fill) %>
        </div>
      </a>

      <a class="fancybox wth-title" rel="group" title="Живопись шестью" href="https://res.cloudinary.com/orhmuseum/image/upload/c_scale,h_1080/workshop/живопись_шестью.jpg">
        <div>
          <h5>Живопись шестью</h5>
          <%= cl_image_tag('workshop/живопись_шестью.jpg', width: 210, height: 140, :crop => :fill) %>
        </div>
      </a>

      <a class="fancybox wth-title" rel="group" title="Бумагопластика" href="https://res.cloudinary.com/orhmuseum/image/upload/c_scale,h_1080/workshop/бумагопластика.jpg">
        <div>

          <h5>Бумагопластика</h5>

          <%= cl_image_tag('workshop/бумагопластика.jpg', width: 210, height: 140, :crop => :fill) %>
        </div>
      </a>


      <a class="fancybox wth-title" rel="group" title="Эбру" href="https://res.cloudinary.com/orhmuseum/image/upload/c_scale,h_1080/workshop/эбру.jpg">
        <div>
          <h5>Эбру</h5>
          <%= cl_image_tag('workshop/эбру.jpg', width: 210, height: 140, :crop => :fill) %>
        </div>
      </a>

      <a class="fancybox wth-title" rel="group" title="Солёное тесто" href="https://res.cloudinary.com/orhmuseum/image/upload/c_scale,h_1080/workshop/солёное_тесто.jpg">

        <div>
          <h5>Солёное тесто</h5>
          <%= cl_image_tag('workshop/солёное_тесто.jpg', width: 210, height: 140, :crop => :fill) %>
        </div>
      </a>

    </div>
    <div class="images" style="padding: 10px 0 0">
      <a class="fancybox" rel="group" href="https://res.cloudinary.com/orhmuseum/image/upload/c_scale,h_1080/workshop/общ1.jpg">
        <%= cl_image_tag('workshop/общ1.jpg', width: 210, height: 140, :crop => :fill) %>
      </a>
      <a class="fancybox" rel="group" href="https://res.cloudinary.com/orhmuseum/image/upload/c_scale,h_1080/workshop/общ2.jpg">
        <%= cl_image_tag('workshop/общ2.jpg', width: 210, height: 140, :crop => :fill) %>
      </a>
      <a class="fancybox" rel="group" href="https://res.cloudinary.com/orhmuseum/image/upload/c_scale,h_1080/workshop/общ3.jpg">
        <%= cl_image_tag('workshop/общ3.jpg', width: 210, height: 140, :crop => :fill) %>
      </a>
    </div>
    <br>
    <p>
      Возможны групповые и индивидуальные занятия, для детей и взрослых.<br>
      Занятие длится один час.<br>
      Суббота и Воскресенье с 10.00 до 16.00.<br>
      Предварительная запись обязательна. Телефоны: 722-48- 67, 067 48201 80.
    </p>
    <p>
      А для более подробного знакомства с темой историко-культурных традиций Украинского Причерноморья, приглашаем так
      же посетить экспозицию музея «Степова Україна» (отдел Одесского историко-краеведческого музея).
    </p>
    <p>
      Музей "Степова Україна" и Выставочный зал находятся по адресу:<br>
      ул. Ланжероновская, 24а<br>
      График работы: ежедневно с 10.00 до 17.00, выходные: Четверг, Пятница
    </p>
    <br>
    <h5 style="text-align: center; font-weight: bold;">Работы мастера, арт-терапевта, Виолетты Лашкул</h5>
    <div class="images no-img-padding">
      <a class="fancybox" rel="master" href="https://res.cloudinary.com/orhmuseum/image/upload/c_scale,h_1080/workshop/мастер2.jpg">
        <%= cl_image_tag('workshop/мастер2.jpg', width: 210, height: 140, :crop => :fill) %>
      </a>
      <a class="fancybox" rel="master" href="https://res.cloudinary.com/orhmuseum/image/upload/c_scale,h_1080/workshop/мастер3.jpg">
        <%= cl_image_tag('workshop/мастер3.jpg', width: 210, height: 140, :crop => :fill) %>
      </a>
      <a class="fancybox" rel="master" href="https://res.cloudinary.com/orhmuseum/image/upload/c_scale,h_1080/workshop/мастер1.jpg">
        <%= cl_image_tag('workshop/мастер1.jpg', width: 210, height: 140, :crop => :fill) %>
      </a>
    </div>
  </div>
</div>