<div class="row">
  <div class="col-xs-12 header">
    <%= link_to mobile_index_path do
      image_tag 'head_ru.jpg', class: 'logo'
    end %>
    <button type="button" class="btn btn-dropdown"
            data-toggle="dropdown" data-target=".dropdown">
      <%= icon('ellipsis-v') %>
    </button>
  </div>
</div>
<div class="dropdown">
  <ul class="dropdown-menu">
    <!--TODO: Add flags to languages switch-->
    <li><%= link_to 'Українська', set_language_ukrainian_path %>
    <li><%= link_to 'Русский', set_language_russian_path %>
    <li><%= link_to 'English', set_language_english_path %>
    <li role="separator" class="divider"></li>
    <li><%= link_to '//facebook.com/Odessa.Regional.History.Museum' do %>
          <%= image_tag 'logo_social/FB.png' %> Facebook
      <% end %>
    <li><%= link_to '//vk.com/club26889806' do %>
          <%= image_tag 'logo_social/VK.png' %> VK
      <% end %>
    <li><%= link_to '//twitter.com/OdHistoryMuseum' do %>
          <%= image_tag 'logo_social/Twitter.png' %> Twitter
      <% end %>
    <li><%= link_to t(:subscribe), subscribe_mobile_index_path %>
  </ul>
</div>