<% content_for :about do %>
    <section class="container">
      <h5>ул. Гаванная, 4 (главное здание)</h5>
      <ul>
        <li><%= link_to '"Старая Одесса"', old_odessa_mobile_index_path %>
        <li><%= link_to '"Оружие из колекции музея"', weapons_mobile_index_path %>
        <li><%= link_to '"Одесса и край в годы Второй мировой войны. 1939-1945 гг."', wwii_mobile_index_path %>
        <li><%= link_to '"Одесчина 1917-1941: взгляд сквозь годы"', odessa_1917_1941_mobile_index_path %>
        <li><%= link_to '"Пробуждение памяти (Голодомор 1932-1933 гг на Одесщине)"', starvation_mobile_index_path %>
      </ul>
      <h5>ул. Ланжероновская, 24а</h5>
      <ul>
        <li><%= link_to 'Музей "Музей степова Україна"', step_ukr_mobile_index_path %>
        <li><%= link_to 'Выставочный зал', showroom_mobile_index_path %>
      </ul>
    </section>
<% end %>