<div class="row">

  <div class="col-xs-12">
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= cl_image_tag 'carousel/1.jpg' %>
          <!--<div class="carousel-caption">-->
            <!--<h3>Приглашаем в Одесский историко-краеведческий музей</h3>-->
          <!--</div>-->
        </div>
        <div class="item">
          <%= cl_image_tag 'carousel/2.jpg' %>
          <!--<div class="carousel-caption">-->
            <!--<h3>Здесь все Европой дышит</h3>-->
          <!--</div>-->
        </div>
        <div class="item">
          <%= cl_image_tag 'carousel/3.jpg' %>
          <!--<div class="carousel-caption">-->
            <!--<h3>И назван наш город героем</h3>-->
          <!--</div>-->
        </div>
        <div class="item">
          <%= cl_image_tag 'carousel/4.jpg' %>
          <!--<div class="carousel-caption">-->
            <!--<h3>Времен связующая нить</h3>-->
          <!--</div>-->
        </div>
        <div class="item">
          <%= cl_image_tag 'carousel/5.jpg' %>
          <!--<div class="carousel-caption">-->
            <!--<h3>Музей "Степова Україна"</h3>-->
          <!--</div>-->
        </div>
        <div class="item">
          <%= cl_image_tag 'carousel/6.jpg' %>
          <!--<div class="carousel-caption">-->
            <!--<h3>И назван наш город героем</h3>-->
          <!--</div>-->
        </div>
        <div class="item">
          <%= cl_image_tag 'carousel/7.jpg' %>
          <!--<div class="carousel-caption">-->
            <!--<h3>герб Одессы</h3>-->
          <!--</div>-->
        </div>
        <div class="item">
          <%= cl_image_tag 'carousel/8.jpg' %>
          <!--<div class="carousel-caption">-->
            <!--<h3>Сто лет Южной Пальмире</h3>-->
          <!--</div>-->
        </div>
        <div class="item">
          <%= cl_image_tag 'carousel/9.jpg' %>
          <!--<div class="carousel-caption">-->
            <!--<h3>Музей "Степова Україна"</h3>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>