<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div role="tab" id="headingOne">
      <a role="button" data-toggle="collapse"
         data-parent="#accordion" href="#collapseOne"
         aria-expanded="false" aria-controls="collapseOne">
        <div class="row nav-block">
          <div class="col-xs-6">
            <%= cl_image_tag 'французские_часы.jpg', alt: 'nothing' %>
          </div>
          <div class="col-xs-6">
            <h4 class="text-center">Інформація<br>для відвідувачів</h4>
          </div>
        </div>
      </a>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <ul class="list-group">
        <%= link_to contact_path do %>
            <li class="list-group-item" id="contact">Контакти</li>
        <% end %>
        <%= link_to price_path do %>
            <li class="list-group-item" id="price">Екскурсії та вартість квитків</li>
        <% end %>
        <%= link_to subscribe_path do %>
            <li class="list-group-item" id="subscribe">Підписатись</li>
        <% end %>
      </ul>
      <%= yield(:information) %>
    </div>
  </div>

  <div class="panel panel-default">
    <div role="tab" id="headingTwo">
      <a role="button" data-toggle="collapse"
         data-parent="#accordion" href="#collapseTwo"
         aria-expanded="false" aria-controls="collapseTwo">
        <div class="row nav-block">
          <div class="col-xs-6">
            <%= cl_image_tag 'французские_часы.jpg', alt: 'nothing' %>
          </div>
          <div class="col-xs-6">
            <h4 class="text-center">Про Музей</h4>
          </div>
        </div>
      </a>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <ul class="list-group">
        <%= link_to history_path do %>
            <li class="list-group-item" id="history">Історія музею</li>
        <% end %>
        <%= link_to expositions_path do %>
            <li class="list-group-item" id="expositions">Експозиції</li>
        <% end %>
        <%= link_to branches_path do %>
            <li class="list-group-item" id="subscribe">Філії музею</li>
        <% end %>
      </ul>
      <%= yield(:about) %>
    </div>
  </div>

  <div class="panel panel-default">
    <div role="tab" id="headingThree">
      <a role="button" data-toggle="collapse"
         data-parent="#accordion" href="#collapseThree"
         aria-expanded="false" aria-controls="collapseThree">
        <div class="row nav-block">
          <div class="col-xs-6">
            <%= cl_image_tag 'французские_часы.jpg', alt: 'nothing' %>
          </div>
          <div class="col-xs-6">
            <h4 class="text-center">Виставки<br>и мероприятия</h4>
          </div>
        </div>
      </a>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <ul class="list-group">
        <li class="list-group-item">Анонсы</li>
        <li class="list-group-item">Діючі виставки</li>
      </ul>
      <%= yield(:events) %>
    </div>
  </div>
</div>





