<% content_for :about do %>
    <section class="container" style="border-bottom: 1px solid #ddd;">
      <h5 id="gavana"><%= t('about.expo.gavana') %></h5>
      <ul>
        <li id="li-old_odessa"><%= link_to '"'+ t('about.expo.old_odessa')+ '"', old_odessa_path(anchor: 'gavana') %>
        <li id="li-weapons"><%= link_to '"'+ t('about.expo.weapons')+ '"', weapons_path(anchor: 'gavana') %>
        <li id="li-wwii"><%= link_to '"'+ t('about.expo.wwii')+ '"', wwii_path(anchor: 'gavana') %>
        <li id="li-odessa_1917_1941"><%= link_to '"'+ t('about.expo.odessa_1917_1941')+ '"', odessa_1917_1941_path(anchor: 'gavana') %>
        <li id="li-starvation"><%= link_to '"'+ t('about.expo.starvation')+ '"', starvation_path(anchor: 'gavana') %>
      </ul>
      <h5 id="lanzh"><%= t('about.expo.lanzh') %></h5>
      <ul>
        <li id="li-step_ukr"><%= link_to '"'+ t('about.expo.step_ukr')+ '"', step_ukr_path(anchor: 'lanzh') %>
        <li id="li-showroom"><%= link_to '"'+ t('about.expo.showroom')+ '"', showroom_path(anchor: 'lanzh') %>
      </ul>
    </section>
    <script>
      var current = $("#li-<%= action_name %>");
      current.addClass("current-expo");
    </script>
<% end %>