<%= simple_form_for(@exposition) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :text %>
    <%= f.input :address %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
