<style>
  #dinam_block2 {
    display: block
  }
</style>
<script>
    $("#vustavki").addClass("active");
    $("#e-2-2").addClass("current");
</script>
<div id="news">
  <h4 class="title">АФИША</h4>
  <div class="content show">
    <h3><%# @exposition.title %>Мастер-класс по керамике</h3>
    <h5><%= @exposition.start_time %>23 Декабря - 11 Января<%= @exposition.end_date %></h5>
    <h5>Адресс: ул. Гаванная, 4<%= @exposition.address %></h5>
    <h5 style="margin-bottom: 30px;">Открытие: 9.00<%= @exposition.start_time %></h5>
    <a class="fancybox" rel="group" href="https://res.cloudinary.com/orhmuseum/image/upload/carousel/6.jpg">
      <%= cl_image_tag('carousel/6.jpg', width: 340, height: 500, crop: :fill) %>
    </a>
    <p><%= @exposition.text %> <%= @exposition.text %> <%= @exposition.text %></p>
    <p><%= @exposition.text %> <%= @exposition.text %> <%= @exposition.text %></p>
    <p><%= @exposition.text %> <%= @exposition.text %> <%= @exposition.text %></p>
  </div>
</div>