<div id="dinam_block1" class="dinam_blocks clearfix">
  <%= image_tag 'французские_часы.jpg' %>
  <ul id="dinam_block_sp">
    <li id="e-1-1"><%= link_to t(:history), '/history'%>
          <!--<a href="history.php">История</a>-->
    <li id="expo">
      <a class="" style="cursor: pointer;" onclick="foo('din_expo','#expo','din_edition','#edition')">Экспозиции</a>
    <li id="e-1-3"><a href="branches.php">Филиалы музея</a>
    <li id="edition"><a style="cursor: pointer;" onclick="foo('din_edition','#edition','din_expo','#expo')">Издания</a>
    <li id="e-1-5"><a href="online.php">Выставки он-лайн</a>
    <li id="e-1-6"><a href="virtual_tour.php">Виртуальный тур</a>
  </ul>
  <div id="din_expo">
    <div>
      <h6>ул. Гаванная, 4 (Главное здание)</h6>
      <div>
        <ul>
          <li id="expo-1"><a href="old_odessa.php">"Старая Одесса"</a>
          <li id="expo-2"><a href="weapons.php">"Оружие из колекции музея"</a>
          <li id="expo-3"><a href="wwii.php">"Одесса и край в годы Второй мировой войны. 1939-1945 гг."</a>
          <li id="expo-4"><a href="odessa_1917-1941.php">"Одесчина 1917-1941: взгляд сквозь годы"</a>
          <li id="expo-5"><a href="golod.php">"Пробуждение памяти (Голодомор 1932-1933 гг на Одесщине)"</a>
        </ul>
      </div>

    </div>
    <div>
      <h6>ул. Ланжероновская, 24а</h6>
      <div>
        <ul>
          <li id="expo-6"><a href="step_ukr.php">музей "Музей степова Україна"</a>
          <li id="expo-7"><a href="vist_zal.php">Выставочный зал</a>
        </ul>
      </div>
    </div>
  </div>

  <div id="din_edition" style="display:none;">
    <div>
      <ul>
        <%= all_messengers.each do |m| %>
            <li id='v-m.id'><%= link_to "Вестник № #{m.id}", messenger_path(m) %>
              <% if m.id % 6 == 0 %>
                </ul>
                </div>
                <div>
                  <ul>
            <% end %>

        <% end %>
        </ul>
        </div>
        </div>
</div>
<div id="dinam_block2" class="dinam_blocks clearfix">
  <%= image_tag 'французские_часы.jpg' %>
  <ul id="dinam_block_sp">
    <li id="e-2-1"><a href="expositions_future.php">Анонсы</a>
    <li id="e-2-2"><a href="expositions_current.php">Действующие выставки</a>
    <li id="e-2-3"><a href="expositions_archive.php">Архив выставок</a>
    <li id="e-2-4"><a href="posts_archive.php">Архив новостей</a>
  </ul>
</div>
<div id="dinam_block3" class="dinam_blocks clearfix">
  <%= image_tag 'французские_часы.jpg' %>
  <ul id="dinam_block_sp">
    <li id="e-3-1"><a href="contact.php">Как нас найти</a>
    <li id="e-3-2"><a href="kontakt.php">Экскурсии и стоимость билетов</a>
    <li id="e-3-3"><a href="services.php">Дополнительные услуги</a>
  </ul>
</div>